
h1, h2, p {
    margin-bottom: 15px;
}

main {
    padding: 1em;
}

.contact-us h1 {
    margin-top: 15px;
}

.contact-info {
    margin-left: 7.5px;
    margin-bottom: 7.5px;
}

.usefulInfo {
    display: grid;
    grid-template-columns: auto, auto;
    grid-gap: 1em;
}

form {
    display: grid;
    grid-template-columns: auto;
    padding: 15px;
    border: 1px solid var(--border-color);
    background-color: var(--alt-background-color);
    font-family: var(--main-font);
    color: var(--alt-font-color);
    width: 90%;
    grid-column: 1;
}

.usefulInfo iframe {
    grid-column: 2;
    width: 90%;
}

/* input {
    margin-top: 2.5px;
}

#name {
    grid-row: 1;
    grid-column: 1;
    padding-bottom: 7.5px;
}

#subject {
    grid-row: 2;
    grid-column: 1;
    padding-bottom: 7.5px;
}

#message {
    grid-row: 3;
    grid-column: 1;
    padding-bottom: 7.5px;
} */



#contact-form-submit {
    grid-row: 4;
    grid-column: 1;
    justify-self: right;
    width: 200px;
}

form textarea {
    resize: none;
    width: 100%;
    margin-top: 2.5px;
}

@media screen and (max-width: 622px) {
    .usefulInfo iframe {
        grid-column: 1;
        grid-row: 2;
        width: 100%;
    }
}
