.hero_image_specs {
    width:1409px;
    /* height:400px; */
    padding-top:10px;
    padding-bottom: 10px;

  }

  /* Sub photos */

.sub_truck{
    width:350px;
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    right: 250px;
    top:320px;
}
.sub_coupes{
    width:350px;
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    right: 800px;
    top:450px;
}
.sub_hatchbacks{
    width:350px;
    height:90px;

    position: absolute;
    z-index: 999;
    margin: 0 auto;
    right: 250px;
    top:200px;
}
.sub_electric{
    width:350px;

    position: absolute;
    z-index: 999;
    margin: 0 auto;
    right: 250px;
    top:450px;
}
.sub_sedans{
    width:350px;

    position: absolute;
    z-index: 999;
    margin: 0 auto;
    right: 800px;
    top:320px;
}
.sub_suvs{
    width:350px;

    position: absolute;
    z-index: 999;
    margin: 0 auto;
    right: 800px;
    top:200px;
}


  body{
    background-color: rgb(189, 189, 189);
  }


  .white_noise{
    padding-top:500px;
  }


.left-button{
    height:302px;
    width:190px;
    cursor: pointer;
    margin:auto;
    font-size: 2em;
    background-color: rgb(88, 168, 253, 0.5);
    color: black;
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    right: 1100px;
    left:-114px;
    top:0px;
}
.right-button{
    height:302px;
    width:190px;
    cursor: pointer;
    margin:auto;
    font-size: 2em;
    background-color: rgb(88, 168, 253, 0.5);
    color: black;
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    right: -165px;
    left:1060px;
    bottom:10px;
    top:0px;

}

img.left-button{
    width:80px;
    height:700px;
    cursor: pointer;
   
}
img.right-button{
    width:80px;
    height:700px;
    cursor: pointer;


}

.carousel{
    display:flex;
    margin:0 auto;
    width:1400px;
    overflow-x: hidden;
    overflow-y: hidden;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    
}

.slide{
    width: 300px;
    height: 300px;
    border:1px solid black;
    margin: 0 20px;
    flex-shrink: 0;
    scroll-snap-align: start;

}

.slide img{
    width:300px;
    height:300px;
}

.carousel-placement{
    position: relative;
    z-index: 999;
    margin: 0 auto;
    /* right:0%; */
    text-align: center;
     /* Adjust this value to move the positioned div up and down */

}

/* chatbox */

.chatbox-wrapper{
    position:fixed;
    bottom:2rem;
    right:2rem;
    width:4rem;
    height:4rem;
}

.chatbox-toggle{
    width:100%;
    height:100%;
    background:var(--blue);
    color:var(--white);
    font-size:2rem;
    display:flex;
    align-items:center;
    border-radius: 50%;
    cursor:pointer;
    transition: .2s;
}

.chatbox-toggle:active{
    transform:scale(.9)
}

.chatbox-message-wrapper{
    position:absolute;
    bottom:calc(100% + 1rem);
    right:0;
    max-width: 420px;
    border-radius: .5rem;
    overflow:hidden;

}

chatbox-message-header{
    display:flex;
    align-items:center;
    justify-content: space-between;  
    background: var(--white);
    padding:.75rem 1.5rem;  
}

.chatbox-message-profile{
    display: flex;
    align-items: center;
    grid-gap:.5rem;
}
.chatbox-message-image{
    width:3rem;
    height:3rem;
    object-fit: cover;
    border-radius:50%;
}

.chatbox-message-name{
    font-size:1.125rem;
    font-weight:600;
}
.chatbox-message-status{
    font-size: .875rem;
    color: var(--grey-d-3);
}
.chatbox-message-dropdown{
    position: relative;
}

.chatbox-message-dropdown-toggle {
    display:flex;
    justify-content:center;
    align-items:center;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.25rem;
    cursor: pointer;
    border-radius: 50%;
}
.chatbox-message-dropdown-toggle:hover{
    background: var(--grey);
}

.chatbox-message-dropdown-menu{
    list-style:none;
    margin:0;
    position: absolute;
    top:100%;
    right:0;
    background: var(--white);
    padding: .5rem 0;
    width:120px;
    box-shadow:.25rem .25rem 1.5rem rgba(0, 0, 0, .1);
    transform: scale(0);
    transition: 2s;
}
.chatbox-message-dropdown-menu a {
    font-size:.875rem;
    font-weight: 500;
    color: var(--dark);
    text-decoration: none;
    padding: .5rem 1rem;
    display:block;
}
.chatbox-message-dropdown-menu a:hover{
    background: var(--grey);
}
.chatbox-message-content{
    background: var(--grey);
    padding: 1.5rem;
    display: flex;
    flex-direction:column;
    grid-row-gap:1rem;
}
.chatbox-message-item{
    width:90%;
    padding: .75rem;
}
.chatbox-message-item.sent {
    align-self:flex-end;
    background:var(--blue);
    color: var(--white);
    border-radius: .75rem 0 .75rem .75rem;
}
.chatbox-message-item.recieved{
    background:var(--white);
    border-radius: 0 .75rem .75rem .75rem;
    box-shadow: .25rem .25rem 1.5rem rgba(0, 0, 0, .05);
}
/* chatbox */