#reviews {
    flex-wrap: wrap;
}

.avatar {
    max-width: 50px;
    max-height: 50px;
    border: 1px solid #022542;
    border-radius: 50%;
}

.nameloc {
    position: relative;
    bottom: 20px;
    padding-left: 4px;
}

.nameloc img {
    max-width: 100px;
    padding-left: 4px;
}