.reviews {
    display: grid;
}

.reviews_card {
    margin: 50px;
    padding: 20px;
}

#reviews__card_i {
    grid-row: 1;
    grid-column: 1;
}

#reviews__card_ii {
    grid-row: 1;
    grid-column: 2;
}

#reviews__card_iii {
    grid-row: 2;
    grid-column: 1;
}

#reviews__card_iv {
    grid-row: 2;
    grid-column: 2;
}